:root {
  --primary-main: #FB4300;   
  --primary-main2: #5681BF;  
  --primary-main3: #0B3353;   
  --primary-main4: #001323;   
  --text-black: #1A1A1A; 
  --m-height: calc(100vh - (145px + 35px));
}   
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "Kanit", sans-serif;
  font-style: normal;   
  background-color: #f5f5f5;
}       
header{ 
  height: 102px; 
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #0000001A;  
  padding: 16px 40px; 
}    
header .limg{ 
  width: 100%;
  max-width: 100%;
}
main{
  padding: 145px 40px 35px;
  position: relative;
}
main .menuleft{
  padding: 30px 15px;
  background-color: #FFFFFF; 
  box-shadow: 4px 4px 15px 2px #00000014; 
  width: 380px;
  border-radius: 15px;
  height: var(--m-height);
  position: absolute;
  left: 40px;
  top: 145px;
  z-index: 99;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.avatar {
  width: 81px;
  height: 81px;
  border-radius: 100%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.avatar img{
  width: 81px;
  height: 81px;
  border-radius: 100%; 
  object-fit: cover;
}
.username {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.email {
  font-weight: 400;
  font-size: 20px; 
  color: var(--primary-main);
}
 
.balance-card {
  background: linear-gradient(135deg, #0a0a23, #06061a);
  color: #fff;
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 24px;
}

.balance-card .label {
  font-weight: 400;
  font-size: 20px; 
  color: var(--primary-main);
  letter-spacing: 1px;
}

.balance-card h2 {
  font-weight: 400;
  margin: 6px 0 0;
  font-size: 35px;
}

.balance-card small {
  font-size: 14px;
  opacity: 0.8;
}

/* Menu */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 10px;
  border-radius: 10px;
  color: #777;
  cursor: pointer;
  transition: 0.2s;
  height: 58px;
}
.menu li a{
  font-weight: 400;
  display: block;
  width: 100%;
  font-size: 20px; 
  color: #818181;
}
.menu li.active a{
  font-weight: 400;
  font-size: 20px; 
  color: var(--primary-main);
}
.menu li.active { 
  border: 2px solid var(--primary-main);
  border-radius: 15px;
}
.menu li img{
  width: 30px;
  height: 30px;
  margin-right: 25px;
} 
.menu li:hover{
  background: #f5f5f5;
}
main .main{ 
  width: 100%;
  height: 300px;
  padding-left: 430px;
  position: relative;
} 
main .main{  
  font-weight: 400; 
  font-size: 35px;    
  margin-bottom: 20px;
  min-height: var(--m-height);
} 
.mycard{
  height: 227px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px #00000040; 
  background-color: #cacaca;
  position: relative;
}
.mycard p{ 
  position: absolute;
  left: 20px;
  bottom: 0px;
  color: #ffffff;
  font-size: 20px;
}
.mycard.addcard{
  height: 227px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px #00000040; 
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mycard.addcard img{
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.mycard.addcard h6{
  font-weight: 400;
  font-size: 20px; 
  color: var(--primary-main);
}
.bot-menu{
  position: absolute;
  bottom: 0;
  width: 100%; 
  left: 0; 
  padding-left: 430px;
}
.botx{ 
  height: 82px;
  box-shadow: 2px 4px 15px 2px #00000017; 
  padding: 23px 40px 0px 170px; 
  font-weight: 400; 
  font-size: 24px;   
  color: #727272;
  position: relative;
}
.botx img{ 
  width: 35px;
  height: 35px;
  position: absolute;
  left: 40px;
  top: 23px;
}




/*  
  transition: 0.3s; 
  font-family: "Noto Sans Thai", sans-serif; 
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}  


@media only screen and (min-width: 1025px) { 
  .pc-x{
    display: none !important;
  }   
}  
@media only screen and (min-width: 1025px) and (max-width: 1800px) { 
   
}   
@media only screen and (min-width: 1025px) and (max-width: 1200px) {   
  
}   