:root {
  --primary-main: #FB4300;   
  --primary-main2: #5681BF;  
  --primary-main3: #0B3353;   
  --primary-main4: #001323;   
  --text-black: #1A1A1A; 
  --m-height: calc(100vh - (110px + 35px));
}   
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "Kanit", sans-serif;
  font-style: normal;   
  background-color: #f5f5f5;
}       
header{ 
  height: 80px; 
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #0000001A;  
  padding: 16px 40px; 
}    
header .limg{  
  max-width: 100%;
  height: 50px;
}
main{
  padding: 110px 40px 35px 20px;
  position: relative;
}
main .menuleft{
  padding: 30px 15px;
  background-color: #FFFFFF; 
  box-shadow: 4px 4px 15px 2px #00000014; 
  width: 320px;
  border-radius: 15px;
  min-height: var(--m-height);
  position: absolute;
  left: 30px;
  top: 110px;
  z-index: 99;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.avatar img{
  width: 50px;
  height: 50px;
  border-radius: 100%; 
  object-fit: cover;
}
.username {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.email {
  font-weight: 400;
  font-size: 16px; 
  color: var(--primary-main);
}
 
.balance-card {
  background: linear-gradient(135deg, #0a0a23, #06061a);
  color: #fff;
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 24px;
}

.balance-card .label {
  font-weight: 400;
  font-size: 16px; 
  color: var(--primary-main);
  letter-spacing: 1px;
}

.balance-card h2 {
  font-weight: 400;
  margin: 6px 0 0;
  font-size: 32px;
}

.balance-card small {
  font-size: 14px;
  opacity: 0.8;
} 
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
} 
.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 10px;
  border-radius: 10px;
  color: #777;
  cursor: pointer;
  transition: 0.2s;
  height: 58px;
}
.menu li a{
  font-weight: 400;
  display: block;
  width: 100%;
  font-size: 18px; 
  color: #818181;
}
.menu li.active a{
  font-weight: 400;
  font-size: 20px; 
  color: var(--primary-main);
}
.menu li.active { 
  border: 2px solid var(--primary-main);
  border-radius: 15px;
}
.menu li img{
  width: 25px;
  height: 25px;
  margin-right: 15px;
} 
.menu li:hover{
  background: #f5f5f5;
}
main .main{ 
  width: 100%;
  height: 300px;
  padding-left: 360px;
  position: relative;
} 
main .main{  
  font-weight: 400; 
  font-size: 35px;    
  margin-bottom: 20px;
  min-height: var(--m-height);
} 
main .main h2{  
  font-size: 24px;
  color: #000;
  text-align: center;
  padding: 13px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040; 
  width: 100%;
  margin-bottom: 30px;
} 
.mycard{
  height: 227px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px #00000040; 
  background-color: #cacaca;
  position: relative;
}
.mycard p{ 
  position: absolute;
  left: 20px;
  bottom: 0px;
  color: #ffffff;
  font-size: 20px;
}
.mycard.addcard{
  height: 227px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px #00000040; 
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mycard.addcard img{
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.mycard.addcard h6{
  font-weight: 400;
  font-size: 20px; 
  color: var(--primary-main);
  margin-bottom: 0px;
  font-size: 16px;
}
.bot-menu{
  position: absolute;
  bottom: 0;
  width: 100%; 
  left: 0; 
  padding-left: 360px;
}
.botx{ 
  height: 82px;
  box-shadow: 2px 4px 15px 2px #00000017; 
  padding: 23px 40px 0px 100px; 
  font-weight: 400; 
  font-size: 24px;   
  color: #727272;
  position: relative;
  border-radius: 15px;
}
.botx img{ 
  width: 25px;
  height: 25px;
  position: absolute;
  left: 30px;
  top: 30px;
}
.btn-get{
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  display: block;
  color: #fff;
  background-color: var(--primary-main);
}
.virtual{
  margin-top: 20px;
  border-radius: 15px;
  outline: 14px solid #fff;
  background-color: #f5f5f5;
  padding: 14px; 
  box-shadow: 2px 4px 15px 2px #00000017; 
  width: calc(100% - 28px);
  margin-left: 14px;
}
.virtual h3{
  margin-bottom: 25px;
}
.virtual .box{
  height: 60px;
  width: 100%;
  display: flex; 
  align-content: center;
  position: relative;
  border-radius: 15px;
  background-color: #f5f5f5;
}
.virtual .box div{ 
  justify-content: center;
  align-content: center;
}
.virtual .box img{
  height: 55px;
  width: 96px;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 10px;
}
.virtual .box h5{
  color: black;
  font-size: 16px;
  margin-top: 5px;
}
.virtual .box h6{
  color: #818181;
  font-size: 14px;
}
.virtual .box i{
  color: black;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 20px;
}

.action-card{
  width: calc(100% - 28px);
  margin-left: 14px;
  border-radius: 15px;
  outline: 14px solid #fff;
  background-color: #f5f5f5;
  padding: 0px 0px;
  margin-bottom: 15px;
  box-shadow: 2px 4px 15px 2px #00000017; 
} 
.action-list{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.action-list li{
  padding-left: 0px;
  display: block;
  position: relative;
  width: 100%; 
}  
.action-list li a{
  padding-left: 0px;
  display: block;
  position: relative;
  width: 100%;
  padding: 8px 10px 12px;
}  
.action-list .material-symbols-outlined{
  font-size: 30px;
  color: var(--primary-main);
  margin-top: 10px;
  position: absolute;
  top: 12px;
  margin-left: 10px;
}
.action-list .text{
  color: #000;
  font-size: 18px;
  padding-left: 65px;
}
.action-list li:hover a{
  background-color: #ffffff;
}  
.action-list .arrow{
  color: #000;
  font-size: 18px;
  position: absolute;
  right: 30px;
  top: 25px;
}
.notification{
  border-radius: 15px;
  outline: 14px solid #fff;
  background-color: #f5f5f5;
  padding: 20px 0px;
  margin-bottom: 15px;
  box-shadow: 2px 4px 15px 2px #00000017; 
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 28px);
  margin-left: 14px;
}
.notification img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}
.main h6{
  font-size: 18px;
  margin-bottom: 25px; 
} 

.account-card{
  width: calc(100% - 28px);
  margin-left: 14px;
  border-radius: 15px;
  outline: 14px solid #fff;
  background-color: #f5f5f5;
  padding: 0px 0px;
  margin-bottom: 35px;
  box-shadow: 2px 4px 15px 2px #00000017; 
} 
.account-list{
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.account-list li{
  padding-left: 0px;
  display: block;
  position: relative;
  width: 100%; 
  border-bottom: 1px solid #e5e7eb;
}  
.account-list li:last-child{ 
  border-bottom: 0px solid #e5e7eb;
}  
.account-list li a{
  padding-left: 0px;
  display: block;
  position: relative;
  width: 100%;
  padding: 8px 10px 12px;
}  
.account-list .material-symbols-outlined{
  font-size: 30px;
  color: var(--primary-main);
  margin-top: 13px;
  position: absolute;
  top: 12px;
  margin-left: -5px;
}
.account-list .text{
  color: #000;
  font-size: 18px;
  padding-left: 45px;
} 
.account-list .arrow{
  color: #000;
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 25px;
}
.card2{
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
.virtual .box.x{ 
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 110px;
  margin-top: 10px;
} 
.virtual .box.x .boc{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #fff; 
  padding-top: 5px;
}
.virtual .box.x .boc span{ 
  color: var(--primary-main);
  font-size: 30px;
}
.virtual .box.x img{ 
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: block;
  margin: 0px auto 10px;
}
.virtual .box.x div{ 
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
}




/*  
  transition: 0.3s; 
  font-family: "Noto Sans Thai", sans-serif; 
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}  


@media only screen and (min-width: 1025px) { 
  .pc-x{
    display: none !important;
  }   
}  
@media only screen and (min-width: 1025px) and (max-width: 1800px) { 
   
}   
@media only screen and (min-width: 1025px) and (max-width: 1200px) {   
  
}   