:root {
  --primary-main: #4987F1;   
  --primary-main2: #5681BF;  
  --primary-main3: #0B3353;   
  --primary-main4: #001323;   
  --text-black: #1A1A1A; 
}   
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "Roboto", sans-serif;
  font-style: normal;   
}       




/*  
  transition: 0.3s; 
  font-family: "Noto Sans Thai", sans-serif; 
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}  


@media only screen and (min-width: 1025px) { 
  .pc-x{
    display: none !important;
  }   
}  
@media only screen and (min-width: 1025px) and (max-width: 1800px) { 
   
}   
@media only screen and (min-width: 1025px) and (max-width: 1200px) {   
  
}   